(
.notdef,
"Aen-georgian",
"Aen-oldgeorgian",
"Ain-georgian",
"An-georgian",
"An-georgian_acutecomb",
"An-georgian_dieresiscomb",
"An-georgian_macroncomb",
"An-georgian_macroncomb_dieresiscomb",
"An-oldgeorgian",
"Ban-georgian",
"Ban-oldgeorgian",
CR,
"Can-georgian",
"Can-oldgeorgian",
"Char-georgian",
"Char-oldgeorgian",
"Chin-georgian",
"Chin-oldgeorgian",
"Cil-georgian",
"Cil-oldgeorgian",
"Don-georgian",
"Don-oldgeorgian",
"Elifi-georgian",
"En-georgian",
"En-georgian_acutecomb",
"En-georgian_macroncomb",
"En-oldgeorgian",
"Fi-georgian",
"Gan-georgian",
"Gan-oldgeorgian",
"GanTurned-georgian",
"Ghan-georgian",
"Ghan-oldgeorgian",
"Hae-georgian",
"Hae-oldgeorgian",
"Har-georgian",
"Har-oldgeorgian",
"HardSign-georgian",
"He-georgian",
"He-oldgeorgian",
"Hie-georgian",
"Hie-oldgeorgian",
"Hoe-georgian",
"Hoe-oldgeorgian",
"In-georgian",
"In-georgian_acutecomb",
"In-georgian_macroncomb",
"In-oldgeorgian",
"Jhan-georgian",
"Jhan-oldgeorgian",
"Jil-georgian",
"Jil-oldgeorgian",
"Kan-georgian",
"Kan-oldgeorgian",
"Khar-georgian",
"Khar-oldgeorgian",
"Labial-georgian",
"Las-georgian",
"Las-oldgeorgian",
"Man-georgian",
"Man-oldgeorgian",
NULL,
"Nar-georgian",
"Nar-oldgeorgian",
"On-georgian",
"On-georgian_acutecomb",
"On-georgian_dieresiscomb",
"On-georgian_macroncomb",
"On-georgian_macroncomb_dieresiscomb",
"On-oldgeorgian",
"Par-georgian",
"Par-oldgeorgian",
"Phar-georgian",
"Phar-oldgeorgian",
"Qar-georgian",
"Qar-oldgeorgian",
"Rae-georgian",
"Rae-oldgeorgian",
"San-georgian",
"San-oldgeorgian",
"Shin-georgian",
"Shin-oldgeorgian",
"Tan-georgian",
"Tan-oldgeorgian",
"Tar-georgian",
"Tar-oldgeorgian",
"Un-georgian",
"Un-georgian_acutecomb",
"Un-georgian_circumflexcomb",
"Un-georgian_dieresiscomb",
"Un-georgian_macroncomb",
"Un-georgian_macroncomb_dieresiscomb",
"Un-oldgeorgian",
"Vin-georgian",
"Vin-oldgeorgian",
"We-georgian",
"We-oldgeorgian",
"Xan-georgian",
"Xan-oldgeorgian",
"Yn-georgian",
"Yn-georgian_acutecomb",
"Yn-georgian_macroncomb",
"Yn-oldgeorgian",
"Zen-georgian",
"Zen-oldgeorgian",
"Zhar-georgian",
"Zhar-oldgeorgian",
"aen-georgian",
"aen-oldgeorgian",
"ain-georgian",
"an-georgian",
"an-georgian_acutecomb",
"an-georgian_dieresiscomb",
"an-georgian_macroncomb",
"an-georgian_macroncomb_dieresiscomb",
"an-oldgeorgian",
"ban-georgian",
"ban-oldgeorgian",
"can-georgian",
"can-oldgeorgian",
"char-georgian",
"char-oldgeorgian",
"chin-georgian",
"chin-oldgeorgian",
"cil-georgian",
"cil-oldgeorgian",
"don-georgian",
"don-oldgeorgian",
"elifi-georgian",
"en-georgian",
"en-georgian_acutecomb",
"en-georgian_macroncomb",
"en-oldgeorgian",
"fi-georgian",
"gan-georgian",
"gan-oldgeorgian",
"ghan-georgian",
"ghan-oldgeorgian",
"hae-georgian",
"hae-oldgeorgian",
"har-georgian",
"har-oldgeorgian",
"hardsign-georgian",
"he-georgian",
"he-oldgeorgian",
"hie-georgian",
"hie-oldgeorgian",
"hoe-georgian",
"hoe-oldgeorgian",
hyphen,
hyphentwo,
"in-georgian",
"in-georgian_acutecomb",
"in-georgian_macroncomb",
"in-oldgeorgian",
"jhan-georgian",
"jhan-oldgeorgian",
"jil-georgian",
"jil-oldgeorgian",
"kan-georgian",
"kan-oldgeorgian",
"khar-georgian",
"khar-oldgeorgian",
"labial-georgian",
lari,
"las-georgian",
"las-oldgeorgian",
"man-georgian",
"man-oldgeorgian",
"nar-georgian",
"nar-oldgeorgian",
"narMod-georgian",
nbspace,
"on-georgian",
"on-georgian_acutecomb",
"on-georgian_dieresiscomb",
"on-georgian_macroncomb",
"on-georgian_macroncomb_dieresiscomb",
"on-oldgeorgian",
"par-georgian",
"par-oldgeorgian",
"paragraph-georgian",
"period-arm",
"phar-georgian",
"phar-oldgeorgian",
"qar-georgian",
"qar-oldgeorgian",
"rae-georgian",
"rae-oldgeorgian",
"san-georgian",
"san-oldgeorgian",
"shin-georgian",
"shin-oldgeorgian",
space,
"tan-georgian",
"tan-oldgeorgian",
"tar-georgian",
"tar-oldgeorgian",
"turnedgan-georgian",
"un-georgian",
"un-georgian_acutecomb",
"un-georgian_circumflexcomb",
"un-georgian_dieresiscomb",
"un-georgian_macroncomb",
"un-georgian_macroncomb_dieresiscomb",
"un-oldgeorgian",
"vin-georgian",
"vin-oldgeorgian",
"we-georgian",
"we-oldgeorgian",
"xan-georgian",
"xan-oldgeorgian",
"yn-georgian",
"yn-georgian_acutecomb",
"yn-georgian_macroncomb",
"yn-oldgeorgian",
"zen-georgian",
"zen-oldgeorgian",
"zhar-georgian",
"zhar-oldgeorgian",
dieresiscomb.geor,
acutecomb.geor,
circumflexcomb.geor,
macroncomb.geor
)